<div id="box">
  <div class="block" id="block-signup">
    <h2><%= I18n.t(:register) %></h2>
    <div class="content">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| -%>
      <%#= f.error_messages %>
      <%= render :partial => "form", :object => f %>

      <div class="group navform wat-cf">
	  <button class="button" type="submit">
            <img src="/images/web-app-theme/tick.png" alt="Register" /> <%= I18n.t(:register) %>
          </button>
	  <%#= oauth_register_button :value => "Register with Twitter" %>
      </div>

      <% end -%>
      <%= render :partial => "devise/shared/devise_links" %>

    </div>
  </div>
</div>
