<div class="block" id="block-list">
  <%= render :partial => "/report/menu_stats" %>

  <div class="content"> 
    <h2 class="title">
      <% if @hosts_count_public_os == 0 %>
      <%= I18n.t :nohost -%>
      <% else %>
      <%= @hosts_count_public_os %> <%= I18n.t :hosts -%>
      <% end %>
    </h2>


    <div class="actions-bar">
      <div class="pagination">
	<%= paginate @hosts %>
      </div>
    </div>


    <div class="inner"> 
      <ul class="list">
	<% @hosts.each do |host| %>
        <li>
          <div class="left">
            <a href=<%= url_for :controller => :host, :action => :show,:id => host.pub_uuid %>>
              <%= avatar_host(host) %>
	    </a>
          </div>
          <div class="item">
            <p><b><%= I18n.t :owner %>:</b>
	      <a href=<%= url_for "/#{ host.user.login}" %>><%= avatar_user(host.user) %></a>
	    </p>
            <p><b><%= I18n.t :hostname %>:</b>
	      <%= host.network.hostname %>
	    </p>
            <p><b><%= I18n.t :uptime_last %> :</b>
	      <%= host.updated_at %>
	    </p>
          </div>
        </li>
	<% end %>
      </ul>
    </div>
  </div>
</div>
