<div class="block" id="block-list">
  <%= render :partial => "/report/menu_stats" %>

  <div class="content"> 
    <h2 class="title">
      <% if @users_count_public == 0 %>
      <%= I18n.t :nouser -%>
      <% else %>
      <%= @users_count_public %> <%= I18n.t :users -%>
      <% end %>
    </h2>

    <div class="actions-bar">
      <div class="pagination">
	<%= paginate @users %>
      </div>
    </div>

    <div class="inner"> 
      <ul class="list">
	<% @users.each do |user| %>
        <li>
          <div class="left">
            <a href="/#{user.login}" %><%= avatar_user(user) %></a>
          </div>
          <div class="item">
            <p><b><%= I18n.t :login %>:</b>
	      <%= user.login %>
	    </p>
            <p><b>Hosts number :</b>
	      <%=h user.hosts.count %>
	    </p>
	    <p><b><%= link_to I18n.t(:show_hosts), "/#{user.login}/hosts" %></b>
	    </p>

          </div>
        </li>
	<% end %>

      </ul>
      
    </div>
  </div>
</div>
